.search-container {
    display: flex;
    align-items: center;
  }
  
  .inputSearch {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .buttonSearch {
    padding: 10px 15px;
    background-color: #4caf4f93;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttonSearch:hover {
    background-color: #2bd334;
  }
  
  .buttonSearch:active {
    background-color: #32d33877;
  }
  